@model ArtistReview.Web.ViewModels.Categories.DetailsCategoryViewModel

@{
    ViewBag.Title = "Details";
}
<div class="row well">
	<div class="col-md-2">
		<img class="imageGalery" src="@Url.Content(Model.ImagePath)" style="width: 10em; height: 10em" />
	</div>
	<div class="col-md-6">
		<div class="row">
			@Html.DisplayNameFor(model => model.Name)
		</div>
		<div class="row">
			@Html.DisplayFor(model => model.Name)
		</div>
		<div class="row">
			@Html.DisplayNameFor(model => model.Description)
		</div>
		<div class="row">
			@Html.DisplayFor(model => model.Description)
		</div>
	</div>
</div>
<div class="jumbotron">
	<div class="well text-center">
		<h2>Profiles</h2>
	</div>
</div>

<div class="jumbotron">
	<div class="well text-center">
		<h2>Events</h2>
	</div>
</div>
<div class="row">
</div>