@model ArtistReview.Web.ViewModels.Events.DetailsEventViewModel
@{
    ViewBag.Title = "Details";
}
<div class="row well">
    <div class="col-md-2">
        <div class="row">
            <img class="imageGalery img-rounded" src="@Url.Content(Model.ImageUrl)" style="width: 10em; height: 10em" />
        </div>
        <div class="row">
            @Html.DisplayFor(model => model.Name)
        </div>
        <br />
        <div class="row">
            @Html.DisplayNameFor(model => model.CategoryName)
        </div>
        <div class="row">
            @Html.DisplayFor(model => model.CategoryName)
        </div>
    </div>
    <div class="col-md-offset-1 col-md-8">
        <div class="row well">
            @Html.DisplayFor(model => model.Description)
        </div>
        <div class="row well">
            <div class="col-md-6">
                <div class="row">
                    @Html.DisplayNameFor(model => model.BeginEvent)
                </div>
                <div class="row">
                    @Html.DisplayFor(model => model.BeginEvent)
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @Html.DisplayNameFor(model => model.EndEvent)
                </div>
                <div class="row">
                    @Html.DisplayFor(model => model.EndEvent)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @if (@User.Identity.IsAuthenticated && !@User.IsInRole("Admin"))
    {
        <a href="@Url.Action("Edit", "Events", new { id = Model.Id })" class="btn btn-warning">Edit</a>
    }
    <a href="@Url.Action("Index", "Events", new { area = ""})" class="btn btn-info">Back</a>
</div>
