@model ArtistReview.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>Вицове</h1>
<div class="row">
    @foreach (var joke in Model.Jokes)
    {
        <div class="col-md-4">
            <a href="@joke.Url">
                @Html.Raw(joke.Content.Replace("\n", "<br />"))
            </a>
            <div>@joke.Category</div>
        </div>
    }
</div>
<h1>Категории</h1>
<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-2">
            @Html.ActionLink(linkText: @category.Name, actionName: "Details", controllerName: "Categories", routeValues: new { id = category.Id }, htmlAttributes: null)

        </div>
        <div class="col-md-2">
            @category.Description
            <img class="imageGalery" src="@Url.Content(@category.ImagePath)" style="width: 10em; height: 10em" />
        </div>
        
    }
</div>