@model ArtistReview.Web.ViewModels.Profiles.PaginProfileViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row text-center">
        <div class="well">
            <h2>Profiles</h2>
        </div>
    </div>
    <div class="row">
        @foreach (var profile in Model.Profiles)
        {
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-2">
                        <h2><span class="label label-warnings"><a href="@Url.Action("Details", "Profiles", new { id = profile.Id })" class="speacial-a">@profile.FullName</a></span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @profile.Description
                        <a href="@Url.Action("Details", "Profiles", new { id = profile.Id})"><img class="imageGalery img-rounded" src="@Url.Content(@profile.ImageUrl)" style="width: 10em; height: 10em" /></a>
                    </div>
                </div>
            </div>}
    </div>
    <div class="text-center"
    <nav>
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li>
                    <a href="@Url.Action("Index", "Home", new {pageIdProfile = Model.CurrentPage-1, pageIdCategory = TempData["Category"] })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>}
            @for (int i = 1; i < Model.TotalPages; i++)
            {
                var className = string.Empty;
                if (Model.CurrentPage == i)
                {
                    className = "active";
                }
                <li class="@className"><a href="@Url.Action("Index", "Home", new {pageIdProfile = @i, pageIdCategory = TempData["Category"] })">@i</a></li>}
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li>
                    <a href="@Url.Action("Index", "Home", new {pageIdProfile = Model.CurrentPage+1, pageIdCategory = TempData["Category"]})" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>}
        </ul>
    </nav>
    </div>
</div>
