@model ArtistReview.Web.ViewModels.Profiles.DetailsProfileViewModel
@{
    ViewBag.Title = "Details";
}
<div class="row well">
    <div class="col-md-2">
        <div class="row">
            <img class="imageGalery img-rounded" src="@Url.Content(Model.ImageUrl)" style="width: 10em; height: 10em" />
        </div>
        <div class="row">
            @Html.DisplayFor(model => model.FullName)
        </div>
        <br />
        <div class="row">
            @Html.DisplayNameFor(model => model.CategoryName)
            <a href="@Url.Action("Details", "Categories", new { id = Model.CategoryId })" class="speacial-a">@Model.CategoryName</a>
        </div>
        <div class="row">
            <a href="@Model.Site">Web site</a>
        </div>
        <div class="row">
            <a href="@Model.FaceBook">Facebook</a>
        </div>
        <div class="row">
            @Html.DisplayNameFor(model => model.Contact)
            @Html.DisplayFor(model => model.Contact)
        </div>
    </div>
    <div class="col-md-offset-1 col-md-8">
        <div class="row well">
            @Html.DisplayFor(model => model.Description)
        </div>
        <div class="row well">
            @foreach (var image in Model.Images)
            {
                <div class="col-md-4">
                    <img class="imageGalery img-rounded" src="@Url.Content(image.ImagePath)" style="width: 10em; height: 10em" />
                </div>}
        </div>
    </div>
</div>
<div class="row">
    @if (@User.Identity.IsAuthenticated && !@User.IsInRole("Admin"))
    {
        <a href="@Url.Action("Edit", "Events", new { id = Model.Id })" class="btn btn-warning">Edit</a>
    }
    <a href="@Url.Action("Index", "Profiles", new { area = ""})" class="btn btn-info">Back</a>
</div>